:root {
  /* Root level css variables go here */

}


.todo {
  --color-todo: #700;
  position: relative;
  border: 1px dashed var(--color-todo);
}

.todo:after {
  content: "todo";
  position: absolute;
  background-color: var(--color-todo);
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 0.25em;
  top: 0;
  right: 0;
}

body {
  /* TODO:: */
}

header {
  /* TODO:: */
}

footer {
  /* TODO:: */
}

main {
  /* TODO:: Responsive Flex/Grid Layout */
  padding: 1rem;
}


#Dashboard h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
